/* Standardized Footer Styles */
.footer-top-16 {
    background-color: #c58723;
}

.copy-section {
    background-color: #c58723;
}

.w3l-footer-16 h3 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 35px;
    color: #fff;
    font-weight: bold;
}

.footer-botm h6 {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.w3l-footer-16 li span,
.w3l-footer-16 p,
.w3l-footer-16 li a {
    color: #fffcfc;
    font-weight: 400;
}

.w3l-footer-16 li a {
    margin-bottom: 17px;
    display: block;
    font-size: 18px;
}

.footer-botm p span {
    width: 80px;
}

footer p {
    font-size: 20px;
}

.w3l-footer-16 li a:hover {
    color: #e25111;
}

.footer-contact-list li {
    display: flex;
    align-items: baseline;
}

.footer-contact-list li i {
    color: #f6f0ed;
    margin-right: 10px;
    font-size: 25px;
}

.footer-contact-list li a:hover {
    color: #e25111;
}

.w3l-footer-16 ul.social li {
    display: inline-block;
}

.w3l-footer-16 ul.social li a {
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    margin-right: 8px;
    font-size: 13px;
    width: 30px;
    height: 30px;
    background: orange;
    color: #fff;
    line-height: 30px;
}

.w3l-footer-16 ul.social li:last-child a {
    margin-right: 0px;
}

.w3l-footer-16 ul.social li a:hover {
    -webkit-transform: translateY(-4px);
    -khtml-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px);
}

.w3l-footer-16 p.copy-text {
    color: #fff;
    padding: 19px;
}

.w3l-footer-16 p.copy-text a {
    color: #fff;
    position: relative;
    text-decoration: none;
}

.w3l-footer-16 p.copy-text a:hover {
    color: #e2d811;
}

.w3l-footer-16 input[type="email"] {
    background: #fff;
    border: none;
    padding: 14px 20px;
    font-size: 16px;
    outline: none;
    width: 80%;
    color: #060606;
    border-radius: 30px 0 0 30px;
}

.w3l-footer-16 button {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 14px 12px;
    cursor: pointer;
    width: 18%;
    color: #fff;
    background: #f50537;
    border-radius: 0 30px 30px 0;
}

.w3l-footer-16 button:hover {
    background: #00c16e;
}

@media (max-width: 991px) {
    .w3l-footer-16 h3 {
        margin-bottom: 30px;
    }

    .margin-btm-space {
        margin-bottom: 0px;
    }

    .w3l-footer-16 {
        position: relative;
        z-index: 1;
    }
}

@media (max-width: 760px) {
    .w3l-footer-16 h3 {
        margin-bottom: 20px;
    }
}

@media (max-width: 395px) {
    .w3l-footer-16 .col-lg-3.col-6.column {
        flex: 0 0 auto;
        width: 100%;
    }

    .footer-botm {
        margin-bottom: 1em;
    }
}

/* Bubble Animation Styles */
.bubbles-media {
    display: inline-block;
    position: relative;
    color: #fff !important;
    font-weight: bold;
    text-decoration: none;
}

.bubble {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    pointer-events: none;
    z-index: 100;
    opacity: 0;
    bottom: 0;
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

/* WhatsApp Floating Button */
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 25px;
    right: 25px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 10000;
}

.my-float {
    margin-top: 16px;
}

/* Align Back-Top Button with WhatsApp Button */
#back-top {
    bottom: 100px !important;
    right: 35px !important;
}